<nav>
  <div class="nav-container">
    <!-- Navigation principale -->
    <mat-nav-list class="nav-left">
      <span
        *ngFor="let link of links"
        class="nav-item"
        [routerLink]="link.href"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ link.name }}
      </span>
    </mat-nav-list>

    <!-- Auth -->
    <mat-nav-list class="nav-right">
      <!-- Liens si non connecté: connexion ou inscription -->
      <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
        <span
          *ngFor="let link of authLinks"
          class="nav-item"
          [routerLink]="link.href"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ link.name }}
        </span>
      </ng-container>

      <!-- Lien si connecté -->
      <ng-template #loggedInTemplate>
        <!-- Affichage du pseudo -->
        <span class="nav-item welcome"> Bonjour, {{ connectedPseudo }}</span>
        <!-- Bouton de déconnexion -->
        <button class="logout-btn" (click)="logout()">Déconnexion</button>
      </ng-template>
    </mat-nav-list>
  </div>
</nav>
