@use "theme";

nav {
  height: 80px;
  background: linear-gradient(
      to right,
      #ffdd57,  /* jaune */
      #e74c3c,  /* rouge */
      #2ecc71,  /* vert */
      #3498db   /* bleu */
  );

  div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

mat-nav-list {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  width: auto;

  span {
    font-size: 1.5rem;
    color: theme.$white;
    margin-right: 1rem;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;

    &:hover {
      transform: scale(1.2);
      color: #ffffff;
    }
  }
}

.nav-item.active {
  font-weight: 700;
}
