.home-container {
  text-align: center;
  margin-top: 2rem;

  .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .plateau-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .plateau {
    width: 400px;
    max-width: 80%;
    height: auto;
  }

  .pion {
    width: 60px;
    height: auto;
  }

  .pion-left {
    transform: scaleX(-1);
  }
}
